[submodule "bloom-filter.h"]
	path = bloom-filter.h
	url = https://github.com/San7o/bloom-filter.h.git
[submodule "hll.h"]
	path = hll.h
	url = https://github.com/San7o/hll.h
[submodule "micro-tests.h"]
	path = micro-tests.h
	url = https://github.com/San7o/micro-tests.h
[submodule "micro-hash.h"]
	path = micro-hash.h
	url = https://github.com/San7o/micro-hash.h
[submodule "hashset.h"]
	path = hashset.h
	url = https://github.com/San7o/hashset.h.git
[submodule "hashmap.h"]
	path = hashmap.h
	url = https://github.com/San7o/hashmap.h.git
