[submodule "bloom-filter.h"]
	path = bloom-filter.h
	url = https://github.com/San7o/bloom-filter.h.git
[submodule "hll.h"]
	path = hll.h
	url = https://github.com/San7o/hll.h
[submodule "micro-tests.h"]
	path = micro-tests.h
	url = https://github.com/San7o/micro-tests.h
[submodule "micro-hash.h"]
	path = micro-hash.h
	url = https://github.com/San7o/micro-hash.h
[submodule "hashset.h"]
	path = hashset.h
	url = https://github.com/San7o/hashset.h.git
[submodule "hashmap.h"]
	path = hashmap.h
	url = https://github.com/San7o/hashmap.h.git
[submodule "micro-log.h"]
	path = micro-log.h
	url = https://github.com/San7o/micro-log.h
[submodule "micro-flag.h"]
	path = micro-flag.h
	url = https://github.com/San7o/micro-flag.h.git
[submodule "micro-draw.h"]
	path = micro-draw.h
	url = https://github.com/San7o/micro-draw.h
[submodule "game-of-life.h"]
	path = game-of-life.h
	url = https://github.com/San7o/game-of-life.h.git
[submodule "consistent-hasher.h"]
	path = consistent-hasher.h
	url = https://github.com/San7o/consistent-hasher.h.git
